@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

#navigation {
    font-family: "Roboto", sans-serif;
}

// Ethan's fix to the button not being centered
// Which took over an hour to make
// Winning
#logout-link {
    height: 100%;
    justify-content: center;
}

.flip-content {
    height: 100%;
    justify-content: center;
}
// Also I'm a noob

// These override the Flipcard.css to fix it
.Flipcard {
    width: fit-content;
    width: -moz-fit-content; // Firefox
    width: -webkit-fit-content; // Safari iOS
}

.Flipcard-front,
.Flipcard-back {
    backface-visibility: hidden;
    transition: transform var(--flipcard-transition-duration, 0.33s) var(--flipcard-transition-easing-function, ease-in), opacity var(--flipcard-transition-duration, 0.33s) var(--flipcard-transition-easing-function, ease-in);
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    height: 100%;
    margin: 0;
    width: 100%;
    text-align: center;
}

.Flipcard-front {
    z-index: 2;
    transform: rotateY(0deg);
    position: relative;
}
  
.Flipcard-back {
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}